* {
  border: 1px solid red;
  padding: 0px;
  margin: 0xp;
  box-sizing: border-box;
}


h1 {
  border: 2px solid red;
  /*border-style: dotted dashed;*/
  /*border-radius: 20/;*/
  border-top-left-radius: 10px;
  border-top-color: blue;
  border-bottom-width: 3px;

       /*  위 오른쪽 아래 왼쪽  */
  padding: 5px 3px 2px 1px;
        /* 위 [왼,오른] 아래*/
  margin: 10px 20px 30px;
     /*[위,아래][왼,오른]*/
  margin: 10px 20px;

width: 150px;
height: 100px;

box-shadow: inset 2px 4px 5px green;
}